body {
    // background: grey;
}
#calendar {
    background: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 700px;
    height: 700px;
    margin: 0 auto;
    @media (max-width: 800px) {
        width: 500px;
    }
    .calendar_header {
        background: #CCC;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: center;
        padding: 10px;
        .prev {
            flex-basis: 100px;
            flex-shrink: 0;
            padding: 10px;
        }
        .title {
            flex-grow: 1;
            // background: red;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            .selectMonth {

            }
            .name {
                font-size: 18px;
                font-weight: bold;
            }
        }
        .next {
            flex-basis: 100px;
            flex-shrink: 0;
            padding: 10px;
        }
    }
    .calendar_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 700px;
        .calendar_cell {
            flex-basis: 100px;
            height: 100px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #DDDDDD;
            &:nth-child(2n) {
                background: #EEEEEE;
            }
            &:hover {
                background: #CCCCCC;
            }
        }
    }
    .daylist {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .times {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            .time {
                flex-grow: 1;
                // flex-basis: 30px;
                background: #DDD;
                cursor: pointer;
                
                &:nth-child(2n) {
                    background: #CCC;
                }
                &:hover {
                    background: #EEE;
                }
                span {
                    font-size: 11px;
                }
            }
        }
        .entrys {
            .entry {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background: #007BFF;
                overflow: hidden;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
            }
        }
    }
    .order {
        background: white;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}